/* Reset and basic styles */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
    height: 100vh;
    color: #fff;
    background-image: url(/static/imgs/background.jpg);
    background-size: cover;
    background-position: center;

}

.nav-bar {
    height: 50px;
    width: 100%;
    background-color: #1a2947;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 3vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.nav-bar h2 {
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
}

.nav-items {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    text-decoration: none;
}

.nav-bar i {
    display: none;
    color: #fff;
    font-size: 5vw;
    font-weight: 600;
}

.nav-bar h2:hover,
.nav-items:hover,
.nav-bar i:hover {
    color: #1d5ef5;
    cursor: pointer;
}

/* main heading */

h1 {
    font-size: 4vw;
    font-weight: 600;
    padding-left: 3vw;
    padding-top: 11vh;
}

span {
    color: #1d5ef5;
    /* text-shadow: 0 4px 8px 0 black; */
}

/* content section */

.content {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 3vw;
}

.left-container {
    padding: 1vw;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 #fff;
}

.left-container h3 {
    font-size: 3vw;
    font-weight: 200;
    padding-bottom: 7vh;
} 

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centered the content vertically */
    gap: 10px;
    padding-bottom: 1vh;
    /* Added gap between form elements for better spacing */
}


input[type="text"],
.textbox {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    font-size: 1.5vw;
    font-weight: 100;
    padding: 0.5vw;
    background-color: #1a2947;
    color: white;
    border-radius: 10px;
    border: 1px solid #1a2947
}

button:hover {
    background-color: #131313;
    cursor: pointer;

}

#error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}


.right-container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50vw;
    padding-right: 10vw;
}

.right-container h3 {
    font-size: 4vw;
    font-weight: 400;
}

.right-container p {
    font-size: 2vw;
    font-weight: 300;
}

.view-btnplans {
    width: 40%;
    font-size: 1.5vw;
    font-weight: 100;
    padding: 0.5vw;
    background-color: white;
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
    border-radius: 10px;
}

.view-btnplans:hover {
    color: white;
    background-color:
        #3173f6;
    border: none;
    cursor: pointer;

}

.create-btnaccount {
    width: 40%;
    font-size: 1.5vw;
    font-weight: 100;
    padding: 0.5vw;
    background-color: #3173f6;
    color: white;
    border-radius: 10px;
    border: 1px solid #3173f6
}

.create-btnaccount:hover {
    background-color: #1d5ef5;
}

.right-container h4 {
    font-size: 2vw;
    font-weight: 400;
}

.plan {
    font-size: 2vw;
    font-weight: 300;
}

/* Footer section  */

.footer {
    height: 10vh;
    width: 100%;
    color: #ced4da;
    background-color: #1a2947;
    padding: 20px;
    /* position: fixed; Fixed positioning to ensure it stays at the bottom */
    bottom: 0;
    /* Positioned at the bottom of the page */
    display: flex;
    /* Flexbox for alignment */
    justify-content: center;
    /* Centered content horizontally */
    align-items: center;
    /* Centered content vertically */
    text-align: center;
    /* Centered text alignment */

}


a {
    text-decoration: none;
    color: #ced4da;
}

@media (max-width: 800px) {

    .nav-part2 h4 {
        display: none;
    }

    .nav-bar i {
        display: flex;
    }

    .nav-bar h2 {
        font-size: 6vw;
    }

    h1 {
        font-size: 7vw;
        font-weight: 700;
        padding-top: 8vh;

    }

    .content {
        display: block;
        align-items: center;
        justify-content: center;
        padding: 4vh 3vw;
    }

    .left-container {
        width: 100%;
        height: 40vh;
        padding-bottom: 2vh;
        margin-bottom: 7vh;
    }

    .left-container h3 {
        font-size: 9vw;
        font-weight: 300;
    } 


    button {
        padding: 2vw;
        font-size: 4vw;
        font-weight: 300;
    }

    .right-container {
        width: 100%;
    }

    .right-container h3 {
        font-size: 7vw;
        font-weight: 400;
    }

    .right-container p {
        font-size: 5vw;
        line-height: 4vh;
    }

    .view-btnplans {
        padding: 1.5vw;
        font-size: 3vw;
    }

    .create-btnaccount {
        padding: 1.5vw;
        font-size: 3vw;
    }

    .right-container h4 {
        font-size: 5vw;
        font-weight: 400;
    }

    .plan {
        font-size: 4vw;
        font-weight: 300;
    }

    .footer {
        font-size: 12px;
    }
}