<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>URL Shortener</title>
</head>
<body>
    <div class="main">
        <nav class="nav-bar">
            <h2 class="logo">MinyURL</h2>
            <div class="nav-part2">
                <h4><a class="nav-items" href="#myurls">MyURLs</a></h4>
                <h4><a class="nav-items" href="#plans">Plans</a></h4>
                <h4><a class="nav-items" href="#blog">Blog</a></h4>
                <h4><a class="nav-items" href="#features">Features</a></h4>
                <h4><a class="nav-items" href="#signup">SignUp</a></h4>
                <h4><a class="nav-items" href="#signin">SignIn</a></h4>
                <i class="ri-menu-3-line"></i>
            </div>
        </nav>
        <h1><span>MinyURL</span> Shortener is Free.</h1>
        <div class="content">
            <div class="left-container">
                <h3>Free URL Shortener</h3>
                <form id="shorten-form">
                    <input type="text" id="url" name="url" placeholder="Enter URL">
                    <button type="submit">Shorten URL</button>
                    <input type="text" id="result" class="result textbox" readonly>
                    <button type="button" onclick="copyText()">Copy</button>
                </form>
            </div>

            <div class="right-container">
                <h3>The Original<br>URL</h3>
                <p>Create shorter URLs with MinyURL.</p>
                <p>Want more out of your link shortener? Track link analytics, use branded domains for fully custom
                    links, and manage your links with our paid Plans.</p>
                <div class="button-container">
                    <button class="right-button view-btnplans">View Plans</button>
                    <button class="right-button create-btnaccount">Create Free Account</button>
                </div>
                <h4>TinyURL plans include:</h4>
                <h5 class="plan">Detailed Link Analytics</h5>
                <h5 class="plan">Bulk Short URLs</h5>
                <h5 class="plan">Fully Branded</h5>
                <h5 class="plan">Link Management Features</h5>
            </div>
        </div>
        <div class="gap"></div>
        <div class="footer">
            <p class="footer-items">&#169; MinyURL LLC. <a href="#">Terms</a> | <a href="#">Privacy Policy</a> | <a
                    href="#">Accessibility</a></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>